# Initial EDA and Aggregation process

We are doing an initial EDA and the aggregation at the case_id level for the following files:
- train_debitcard
- train_deposit
- train_other
- train_person_1
- train_person_2

**Columns**

Special columns:

- case_id - This is the unique identifier for each credit case. You'll need this ID to join relevant tables to the base table.
- date_decision - This refers to the date when a decision was made regarding the approval of the loan.
- WEEK_NUM - This is the week number used for aggregation. In the test sample, WEEK_NUM continues sequentially from the last training value of WEEK_NUM.
- MONTH - This column represents the month and is intended for aggregation purposes.
- target - This is the target value, determined after a certain period based on whether or not the client defaulted on the specific credit case (loan).
- num_group1 - This is an indexing column used for the historical records of case_id in both depth=1 and depth=2 tables.
- num_group2 - This is the second indexing column for depth=2 tables' historical records of case_id. The order of num_group1 and num_group2 is important and will be clarified in feature definitions.

All other raw columns in the tables serve as predictors. Their definitions can be found in the file feature_definitions.csv. For depth=0 tables, predictors can be directly used as features. However, for tables with depth>0, you may need to employ aggregation functions that will condense the historical records associated with each case_id into a single feature. In case num_group1 or num_group2 stands for person index (this is clear with predictor definitions) the zero index has special meaning. When num_groupN=0 it is the applicant (the person who applied for a loan).

**Table depth**

depth=1 - Each case_id has an associated historical record, indexed by num_group1.

depth=2 - Each case_id has an associated historical record, indexed by both num_group1 and num_group2.

In [2]:
import polars as pl
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
#from src.utils.merge import group_file_data

## Load the data

In [3]:
# Substitute this by the import 

def group_file_data(
    df: pl.DataFrame, 
    num_cols: list[str] = [], 
    date_cols: list[str] = [], 
    cat_cols: list[str] = []
) -> pl.DataFrame:
    '''
    Function to group numerical, date, and categorical columns

    Parameters:
    -----------
    df : Polars DataFrame
    num_cols : List of numerical column names (remember to drop num_group columns)
    date_cols : List of date column names
    cat_cols : List of categorical column names (becomes dummies)
    '''
    
    # Convert date columns
    df_date = df[['case_id'] + date_cols].with_columns([ pl.col(col).str.to_date() for col in date_cols ])

    # One-hot categories
    df_dummies = df[['case_id'] + cat_cols].to_dummies(cat_cols)

    # Num DataFrame
    df_num = df[['case_id'] + num_cols]

    # Date aggs
    date_aggs = [ pl.min(col).name.suffix('_min') for col in date_cols ] +\
                [ pl.max(col).name.suffix('_max') for col in date_cols ] +\
                [ pl.n_unique(col).name.suffix('_distinct') for col in date_cols]
    df_date_grouped = df_date.group_by('case_id').agg(date_aggs)

    # One-hot aggs
    dummy_cols = [ col for col in df_dummies.columns if col != 'case_id']
    dummies_aggs = [ pl.sum(col).name.suffix('_sum') for col in dummy_cols ]
    df_dummies_grouped = df_dummies.group_by('case_id').agg(dummies_aggs)

    # Numerical aggs
    num_aggs = [ pl.min(col).name.suffix('_min') for col in num_cols ] +\
            [ pl.max(col).name.suffix('_max') for col in num_cols ] +\
            [ pl.mean(col).name.suffix('_mean') for col in num_cols ] +\
            [ pl.median(col).name.suffix('_median') for col in num_cols ] +\
            [ pl.sum(col).name.suffix('_sum') for col in num_cols ]
    df_num_grouped = df_num.group_by('case_id').agg(num_aggs)

    # Join DataFrames
    df_joined = df_num_grouped.join(df_date_grouped, on='case_id')
    df_joined = df_joined.join(df_dummies_grouped, on='case_id')

    return df_joined

In [4]:
dataPath = 'C:/Users/laura/OneDrive/Documentos/Personal Documents/Universidad/DSE CCNY/Courses Semester 2/Applied ML/Project_final/home-credit-credit-risk-model-stability/'

In [5]:
def set_table_dtypes(df: pl.DataFrame) -> pl.DataFrame:
    # implement here all desired dtypes for tables
    # the following is just an example
    for col in df.columns:
        # last letter of column name will help you determine the type
        if col[-1] in ("P", "A"):
            df = df.with_columns(pl.col(col).cast(pl.Float64).alias(col))

    return df

def convert_strings(df: pd.DataFrame) -> pd.DataFrame:
    for col in df.columns:  
        if df[col].dtype.name in ['object', 'string']:
            df[col] = df[col].astype("string").astype('category')
            current_categories = df[col].cat.categories
            new_categories = current_categories.to_list() + ["Unknown"]
            new_dtype = pd.CategoricalDtype(categories=new_categories, ordered=True)
            df[col] = df[col].astype(new_dtype)
    return df

In [8]:
train_basetable = pl.read_csv(dataPath + "csv_files/train/train_base.csv")

In [6]:
#  depth=1
train_debitcard = pl.read_csv(dataPath + "csv_files/train/train_debitcard_1.csv").pipe(set_table_dtypes)
#  depth=1
train_deposit = pl.read_csv(dataPath + "csv_files/train/train_deposit_1.csv").pipe(set_table_dtypes)
#  depth=1
train_other = pl.read_csv(dataPath + "csv_files/train/train_other_1.csv").pipe(set_table_dtypes)
#  depth=1
train_person_1 = pl.read_csv(dataPath + "csv_files/train/train_person_1.csv").pipe(set_table_dtypes)
#  depth=2
train_person_2 = pl.read_csv(dataPath + "csv_files/train/train_person_2.csv").pipe(set_table_dtypes)

In [88]:
# Convert Polars DataFrame to pandas DataFrame for the inital EDA checks only
train_debitcard_pd = train_debitcard.to_pandas()
train_deposit_pd = train_deposit.to_pandas()
train_other_pd = train_other.to_pandas()
train_person_1_pd = train_person_1.to_pandas()
train_person_2_pd = train_person_2.to_pandas()

## Debit Card

In [111]:
def initial_check(pandas_df):
  display(pandas_df.head())
  print('shape: ', pandas_df.shape)
  print('columns: ', pandas_df.columns)
  print('info: ', pandas_df.info())
  print('describe: ', pandas_df.describe())

In [72]:
initial_check(train_debitcard_pd)

,case_id,last180dayaveragebalance_704A,last180dayturnover_1134A,last30dayturnover_651A,num_group1,openingdate_857D
0,225,NaN,NaN,NaN,0,2016-08-16
1,331,NaN,NaN,NaN,0,2015-03-19
2,358,NaN,NaN,NaN,0,2014-09-02
3,390,NaN,NaN,NaN,0,2014-07-23
4,390,NaN,NaN,NaN,2,2016-06-08

shape:  (157302, 6)
columns:  Index(['case_id', 'last180dayaveragebalance_704A', 'last180dayturnover_1134A',
       'last30dayturnover_651A', 'num_group1', 'openingdate_857D'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157302 entries, 0 to 157301
Data columns (total 6 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   case_id                        157302 non-null  int64
 1   last180dayaveragebalance_704A  12216 non-null   float64
 2   last180dayturnover_1134A       11081 non-null   float64
 3   last30dayturnover_651A         11081 non-null   float64
 4   num_group1                     157302 non-null  int64
 5   openingdate_857D               144591 non-null  object
dtypes: float64(3), int64(2), object(1)
memory usage: 7.2+ MB
info:  None
describe:              case_id  last180dayaveragebalance_704A  last180dayturnover_1134A  \
count  1.573020e+05                   12216.000000              1.108100e+04
mean   1.468784e+06                     109.635884              3.849451e+04
std    8.883316e+05                     949.997458              4.140059e+04
min    2.250000e+02                    -308.794130             -1.877800e+05
25%    6.491730e+05                       0.000000              7.878000e+03
50%    1.560121e+06                       0.000000              3.000000e+04
75%    2.531590e+06                       1.053898              6.000000e+04
max    2.703453e+06                   67777.770000              1.161820e+06

       last30dayturnover_651A     num_group1
count            11081.000000  157302.000000
mean              4955.383495       0.549306
std              19217.736947       1.639082
min               -477.506000       0.000000
25%                  0.000000       0.000000
50%                  0.000000       0.000000
75%                  0.000000       1.000000
max             390000.000000      65.000000

last180dayaveragebalance_704A: Average balance on debit card in the last 180 days.

last180dayturnover_1134A: Debit card's turnover within the last 180 days.

last30dayturnover_651A: Debit card turnover for the last 30 days.

openingdate_857D: Debit card opening date.

Check if, for the same case_id we can have multiple num_group1

In [102]:
# Check if for the same case_id we can have multiple num_group1 
# Group by 'case_id' and count unique 'num_group1' values
unique_counts = train_debitcard_pd.groupby('case_id')['num_group1'].nunique()

# Check if any case_id has more than one unique 'num_group1' value
multiple_num_group1 = unique_counts[unique_counts > 1]

if not multiple_num_group1.empty:
    print("Some case_ids have multiple num_group1 values:")
    print(multiple_num_group1)
else:
    print("Each case_id has a unique num_group1 value.")

Some case_ids have multiple num_group1 values:
case_id
390        3
445        5
453        3
731        3
739        2
          ..
2703401    2
2703407    2
2703416    2
2703430    9
2703453    2
Name: num_group1, Length: 29309, dtype: int64

We checked the null values:

8% of the rows contains information

In [106]:
initial_check(train_deposit_pd)

   case_id   amount_416A contractenddate_991D  num_group1 openingdate_313D
0      225       0.00000                 None           0       2016-08-16
1      331     260.37400           2018-03-18           0       2015-03-19
2      358       0.00000                 None           0       2014-09-02
3      390  211748.53000           2017-07-22           0       2014-07-23
4      390     223.68001                 None           2       2016-06-08

shape:  (145086, 5)
columns:  Index(['case_id', 'amount_416A', 'contractenddate_991D', 'num_group1',
       'openingdate_313D'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145086 entries, 0 to 145085
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   case_id               145086 non-null  int64
 1   amount_416A           145086 non-null  float64
 2   contractenddate_991D  65404 non-null   object
 3   num_group1            145086 non-null  int64
 4   openingdate_313D      145086 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 5.5+ MB
info:  None
describe:              case_id   amount_416A     num_group1
count  1.450860e+05  1.450860e+05  145086.000000
mean   1.466214e+06  8.422304e+03       0.522531
std    8.865290e+05  8.623212e+04       1.620954
min    2.250000e+02 -4.000000e+04       0.000000
25%    6.600410e+05  0.000000e+00       0.000000
50%    1.556939e+06  2.236580e+02       0.000000
75%    2.530539e+06  4.783400e+02       1.000000
max    2.703453e+06  1.221329e+07      64.000000

In [107]:
initial_check(train_other_pd)

,case_id,amtdebitincoming_4809443A,amtdebitoutgoing_4809440A,amtdepositbalance_4809441A,amtdepositincoming_4809444A,amtdepositoutgoing_4809442A,num_group1
0,43801,12466.6010,12291.2000,914.2000,0.0,304.80002,0
1,43991,3333.4001,3273.4001,0.0000,0.0,0.00000,0
2,44001,10000.0000,10000.0000,0.0000,0.0,0.00000,0
3,44053,0.0000,0.0000,2586.4001,0.0,88.80000,0
4,44130,63.8000,60.8000,0.0000,0.0,0.00000,0

shape:  (51109, 7)
columns:  Index(['case_id', 'amtdebitincoming_4809443A', 'amtdebitoutgoing_4809440A',
       'amtdepositbalance_4809441A', 'amtdepositincoming_4809444A',
       'amtdepositoutgoing_4809442A', 'num_group1'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51109 entries, 0 to 51108
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   case_id                      51109 non-null  int64
 1   amtdebitincoming_4809443A    51109 non-null  float64
 2   amtdebitoutgoing_4809440A    51109 non-null  float64
 3   amtdepositbalance_4809441A   51109 non-null  float64
 4   amtdepositincoming_4809444A  51109 non-null  float64
 5   amtdepositoutgoing_4809442A  51109 non-null  float64
 6   num_group1                   51109 non-null  int64
dtypes: float64(5), int64(2)
memory usage: 2.7 MB
info:  None
describe:              case_id  amtdebitincoming_4809443A  amtdebitoutgoing_4809440A  \
count  5.110900e+04               5.110900e+04               5.110900e+04
mean   1.419514e+06               7.552902e+03               7.462384e+03
std    9.245095e+05               3.462571e+04               3.506529e+04
min    4.380100e+04               0.000000e+00               0.000000e+00
25%    2.422410e+05               0.000000e+00               0.000000e+00
50%    1.811468e+06               0.000000e+00               0.000000e+00
75%    1.916206e+06               8.000000e+03               7.740000e+03
max    2.703453e+06               4.957852e+06               5.168004e+06

       amtdepositbalance_4809441A  amtdepositincoming_4809444A  \
count                5.110900e+04                 5.110900e+04
mean                 9.967413e+03                 2.949396e+03
std                  8.939342e+04                 4.146773e+04
min                 -3.357180e+05                 0.000000e+00
25%                  0.000000e+00                 0.000000e+00
50%                  0.000000e+00                 0.000000e+00
75%                  2.880000e+02                 0.000000e+00
max                  4.256314e+06                 4.180150e+06

       amtdepositoutgoing_4809442A  num_group1
count                 5.110900e+04     51109.0
mean                  3.586875e+03         0.0
std                   4.827494e+04         0.0
min                   0.000000e+00         0.0
25%                   0.000000e+00         0.0
50%                   1.800000e+00         0.0
75%                   5.400000e+00         0.0
max                   4.622918e+06         0.0

In [108]:
initial_check(train_person_1_pd)

,case_id,birth_259D,birthdate_87D,childnum_185L,contaddr_district_15M,contaddr_matchlist_1032L,contaddr_smempladdr_334L,contaddr_zipcode_807M,education_927M,empl_employedfrom_271D,...,registaddr_district_1083M,registaddr_zipcode_184M,relationshiptoclient_415T,relationshiptoclient_642T,remitter_829L,role_1084L,role_993L,safeguarantyflag_411L,sex_738L,type_25L
0,0,1986-07-01,None,NaN,P88_18_84,False,False,P167_100_165,P97_36_170,2017-09-15,...,P88_18_84,P167_100_165,None,None,None,CL,None,True,F,PRIMARY_MOBILE
1,0,None,None,NaN,a55475b1,None,None,a55475b1,a55475b1,None,...,a55475b1,a55475b1,SPOUSE,None,False,EM,None,None,None,PHONE
2,0,None,None,NaN,a55475b1,None,None,a55475b1,a55475b1,None,...,a55475b1,a55475b1,COLLEAGUE,SPOUSE,False,PE,None,None,None,PHONE
3,0,None,None,NaN,a55475b1,None,None,a55475b1,a55475b1,None,...,a55475b1,a55475b1,None,COLLEAGUE,None,PE,None,None,None,PHONE
4,1,1957-08-01,None,NaN,P103_93_94,False,False,P176_37_166,P97_36_170,2008-10-29,...,P103_93_94,P176_37_166,None,None,None,CL,None,True,M,PRIMARY_MOBILE

shape:  (2973991, 37)
columns:  Index(['case_id', 'birth_259D', 'birthdate_87D', 'childnum_185L',
       'contaddr_district_15M', 'contaddr_matchlist_1032L',
       'contaddr_smempladdr_334L', 'contaddr_zipcode_807M', 'education_927M',
       'empl_employedfrom_271D', 'empl_employedtotal_800L',
       'empl_industry_691L', 'empladdr_district_926M', 'empladdr_zipcode_114M',
       'familystate_447L', 'gender_992L', 'housetype_905L', 'housingtype_772L',
       'incometype_1044T', 'isreference_387L', 'language1_981M',
       'mainoccupationinc_384A', 'maritalst_703L', 'num_group1',
       'personindex_1023L', 'persontype_1072L', 'persontype_792L',
       'registaddr_district_1083M', 'registaddr_zipcode_184M',
       'relationshiptoclient_415T', 'relationshiptoclient_642T',
       'remitter_829L', 'role_1084L', 'role_993L', 'safeguarantyflag_411L',
       'sex_738L', 'type_25L'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2973991 entries, 0 to 2973990
Data columns (total 37 columns):
 #   Column                     Dtype
---  ------                     -----
 0   case_id                    int64
 1   birth_259D                 object
 2   birthdate_87D              object
 3   childnum_185L              float64
 4   contaddr_district_15M      object
 5   contaddr_matchlist_1032L   object
 6   contaddr_smempladdr_334L   object
 7   contaddr_zipcode_807M      object
 8   education_927M             object
 9   empl_employedfrom_271D     object
 10  empl_employedtotal_800L    object
 11  empl_industry_691L         object
 12  empladdr_district_926M     object
 13  empladdr_zipcode_114M      object
 14  familystate_447L           object
 15  gender_992L                object
 16  housetype_905L             object
 17  housingtype_772L           object
 18  incometype_1044T           object
 19  isreference_387L           object
 20  language1_981M             object
 21  mainoccupationinc_384A     float64
 22  maritalst_703L             object
 23  num_group1                 int64
 24  personindex_1023L          float64
 25  persontype_1072L           float64
 26  persontype_792L            float64
 27  registaddr_district_1083M  object
 28  registaddr_zipcode_184M    object
 29  relationshiptoclient_415T  object
 30  relationshiptoclient_642T  object
 31  remitter_829L              object
 32  role_1084L                 object
 33  role_993L                  object
 34  safeguarantyflag_411L      object
 35  sex_738L                   object
 36  type_25L                   object
dtypes: float64(5), int64(2), object(30)
memory usage: 839.5+ MB
info:  None
describe:              case_id  childnum_185L  mainoccupationinc_384A    num_group1  \
count  2.973991e+06    9907.000000            1.526659e+06  2.973991e+06
mean   1.055196e+06       0.616029            5.770748e+04  7.965317e-01
std    7.245714e+05       0.966080            3.334830e+04  9.777888e-01
min    0.000000e+00       0.000000            0.000000e+00  0.000000e+00
25%    6.373535e+05       0.000000            3.600000e+04  0.000000e+00
50%    8.908170e+05       0.000000            5.000000e+04  0.000000e+00
75%    1.568334e+06       1.000000            7.000000e+04  1.000000e+00
max    2.703454e+06      11.000000            2.000000e+05  9.000000e+00

       personindex_1023L  persontype_1072L  persontype_792L
count       2.331708e+06      2.967874e+06     2.331708e+06
mean        4.383568e-01      2.034862e+00     2.315691e+00
std         6.596618e-01      1.707171e+00     1.826378e+00
min         0.000000e+00      1.000000e+00     1.000000e+00
25%         0.000000e+00      1.000000e+00     1.000000e+00
50%         0.000000e+00      1.000000e+00     1.000000e+00
75%         1.000000e+00      4.000000e+00     5.000000e+00
max         6.000000e+00      5.000000e+00     5.000000e+00

In [109]:
initial_check(train_person_2_pd)

,case_id,addres_district_368M,addres_role_871L,addres_zip_823M,conts_role_79M,empls_economicalst_849M,empls_employedfrom_796D,empls_employer_name_740M,num_group1,num_group2,relatedpersons_role_762T
0,5,a55475b1,None,a55475b1,a55475b1,a55475b1,None,a55475b1,0,0,None
1,6,P55_110_32,CONTACT,P10_68_40,P38_92_157,P164_110_33,None,a55475b1,0,0,None
2,6,P55_110_32,PERMANENT,P10_68_40,a55475b1,a55475b1,None,a55475b1,0,1,None
3,6,P204_92_178,CONTACT,P65_136_169,P38_92_157,P164_110_33,None,a55475b1,1,0,OTHER_RELATIVE
4,6,P191_109_75,CONTACT,P10_68_40,P7_147_157,a55475b1,None,a55475b1,1,1,OTHER_RELATIVE

shape:  (1643410, 11)
columns:  Index(['case_id', 'addres_district_368M', 'addres_role_871L',
       'addres_zip_823M', 'conts_role_79M', 'empls_economicalst_849M',
       'empls_employedfrom_796D', 'empls_employer_name_740M', 'num_group1',
       'num_group2', 'relatedpersons_role_762T'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1643410 entries, 0 to 1643409
Data columns (total 11 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   case_id                   1643410 non-null  int64
 1   addres_district_368M      1643410 non-null  object
 2   addres_role_871L          67674 non-null    object
 3   addres_zip_823M           1643410 non-null  object
 4   conts_role_79M            1643410 non-null  object
 5   empls_economicalst_849M   1643410 non-null  object
 6   empls_employedfrom_796D   5757 non-null     object
 7   empls_employer_name_740M  1643410 non-null  object
 8   num_group1                1643410 non-null  int64
 9   num_group2                1643410 non-null  int64
 10  relatedpersons_role_762T  28726 non-null    object
dtypes: int64(3), object(8)
memory usage: 137.9+ MB
info:  None
describe:              case_id    num_group1    num_group2
count  1.643410e+06  1.643410e+06  1.643410e+06
mean   1.264005e+06  1.115425e-01  1.237013e-01
std    6.995455e+05  3.224079e-01  7.612454e-01
min    5.000000e+00  0.000000e+00  0.000000e+00
25%    7.619582e+05  0.000000e+00  0.000000e+00
50%    1.323516e+06  0.000000e+00  0.000000e+00
75%    1.695937e+06  0.000000e+00  0.000000e+00
max    2.703454e+06  4.000000e+00  3.100000e+01

## Aggregation and Merge to the Base table

This is the aggregation definition

In [ ]:
# Aggregation functions for numerical columns
numerical_agg_funcs = {
    'min': 'min',
    'max': 'max',
    'mean': 'mean',
    'median': 'median',
    'sum': 'sum'
}

# Aggregation functions for categorical columns
categorical_agg_funcs = {
    'mode': lambda x: x.mode().iloc[0],  # Mode
    'one_hot_encoding': lambda x: x.sum()  # One-hot encoding with sum of counts
}

# Aggregation functions for date columns
date_agg_funcs = {
    'min': 'min',
    'max': 'max',
    'distinct_count': 'nunique'  # Count of distinct values
}

Using the group_file_data from utils.merge.py

### Debitcard Aggregation

In [7]:
df = train_debitcard
# Date columns
date_cols = [ df.columns[i] for i in range(len(df.columns)) if (df.columns[i].__contains__('dat')) and (df.dtypes[i] == pl.String) ]

# Categorical columns
cat_cols = [ df.columns[i] for i in range(len(df.columns)) if (df.columns[i] not in date_cols) and (df.dtypes[i] == pl.String) ]

# Numerical columns
ignore_cols = ['case_id', 'num_group1', 'num_group2']
num_cols = [ 
    df.columns[i] for i in range(len(df.columns)) 
    if (df.columns[i] not in date_cols) and (df.columns[i] not in cat_cols) and (df.columns[i] not in ignore_cols)
]

# Group data
df_debitcard_agg = group_file_data(df, num_cols, date_cols, cat_cols)

In [117]:
df_debitcard_agg.head()

df_debitcard_agg.write_parquet('../data/train_debitcard_grouped.parquet')

shape: (5, 19)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ case_id â”† last180day â”† last180da â”† last30day â”† â€¦ â”† last30day â”† openingda â”† openingda â”† openingda â”‚
â”‚ ---     â”† averagebal â”† yturnover â”† turnover_ â”†   â”† turnover_ â”† te_857D_m â”† te_857D_m â”† te_857D_d â”‚
â”‚ i64     â”† ance_704A_ â”† _1134A_mi â”† 651A_min  â”†   â”† 651A_sum  â”† in        â”† ax        â”† istinct   â”‚
â”‚         â”† miâ€¦        â”† n         â”† ---       â”†   â”† ---       â”† ---       â”† ---       â”† ---       â”‚
â”‚         â”† ---        â”† ---       â”† f64       â”†   â”† f64       â”† date      â”† date      â”† u32       â”‚
â”‚         â”† f64        â”† f64       â”†           â”†   â”†           â”†           â”†           â”†           â”‚
â•žâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1935805 â”† null       â”† null      â”† null      â”† â€¦ â”† 0.0       â”† 2016-04-2 â”† 2016-06-2 â”† 2         â”‚
â”‚         â”†            â”†           â”†           â”†   â”†           â”† 2         â”† 4         â”†           â”‚
â”‚ 1377171 â”† null       â”† null      â”† null      â”† â€¦ â”† 0.0       â”† 2016-10-1 â”† 2016-10-1 â”† 1         â”‚
â”‚         â”†            â”†           â”†           â”†   â”†           â”† 9         â”† 9         â”†           â”‚
â”‚ 1697247 â”† null       â”† null      â”† null      â”† â€¦ â”† 0.0       â”† 2014-11-2 â”† 2015-09-2 â”† 2         â”‚
â”‚         â”†            â”†           â”†           â”†   â”†           â”† 0         â”† 3         â”†           â”‚
â”‚ 1773019 â”† null       â”† null      â”† null      â”† â€¦ â”† 0.0       â”† 2016-01-0 â”† 2016-01-0 â”† 1         â”‚
â”‚         â”†            â”†           â”†           â”†   â”†           â”† 2         â”† 2         â”†           â”‚
â”‚ 2556608 â”† 0.0        â”† 100000.0  â”† 100000.0  â”† â€¦ â”† 100000.0  â”† null      â”† null      â”† 1         â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

### Deposit Aggregation

In [8]:
df = train_deposit
# Date columns
date_cols = [ df.columns[i] for i in range(len(df.columns)) if (df.columns[i].__contains__('dat')) and (df.dtypes[i] == pl.String) ]

# Categorical columns
cat_cols = [ df.columns[i] for i in range(len(df.columns)) if (df.columns[i] not in date_cols) and (df.dtypes[i] == pl.String) ]

# Numerical columns
ignore_cols = ['case_id', 'num_group1', 'num_group2']
num_cols = [ 
    df.columns[i] for i in range(len(df.columns)) 
    if (df.columns[i] not in date_cols) and (df.columns[i] not in cat_cols) and (df.columns[i] not in ignore_cols)
]

# Group data
df_deposit_agg = group_file_data(df, num_cols, date_cols, cat_cols)

In [119]:
df_deposit_agg.head()

df_deposit_agg.write_parquet('../data/train_deposit_grouped.parquet')

shape: (5, 12)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ case_id â”† amount_416 â”† amount_41 â”† amount_41 â”† â€¦ â”† contracte â”† openingda â”† contracte â”† openingda â”‚
â”‚ ---     â”† A_min      â”† 6A_max    â”† 6A_mean   â”†   â”† nddate_99 â”† te_313D_m â”† nddate_99 â”† te_313D_d â”‚
â”‚ i64     â”† ---        â”† ---       â”† ---       â”†   â”† 1D_max    â”† ax        â”† 1D_distin â”† istinct   â”‚
â”‚         â”† f64        â”† f64       â”† f64       â”†   â”† ---       â”† ---       â”† ct        â”† ---       â”‚
â”‚         â”†            â”†           â”†           â”†   â”† date      â”† date      â”† ---       â”† u32       â”‚
â”‚         â”†            â”†           â”†           â”†   â”†           â”†           â”† u32       â”†           â”‚
â•žâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1931637 â”† 0.0        â”† 0.0       â”† 0.0       â”† â€¦ â”† null      â”† 2015-05-0 â”† 1         â”† 1         â”‚
â”‚         â”†            â”†           â”†           â”†   â”†           â”† 1         â”†           â”†           â”‚
â”‚ 2647189 â”† 202.73601  â”† 202.73601 â”† 202.73601 â”† â€¦ â”† null      â”† 2017-06-2 â”† 1         â”† 1         â”‚
â”‚         â”†            â”†           â”†           â”†   â”†           â”† 3         â”†           â”†           â”‚
â”‚ 2538009 â”† 0.0        â”† 268.676   â”† 134.338   â”† â€¦ â”† 2017-07-1 â”† 2016-03-0 â”† 2         â”† 2         â”‚
â”‚         â”†            â”†           â”†           â”†   â”† 6         â”† 7         â”†           â”†           â”‚
â”‚ 1308071 â”† 276.402    â”† 276.402   â”† 276.402   â”† â€¦ â”† 2017-12-0 â”† 2013-12-0 â”† 1         â”† 1         â”‚
â”‚         â”†            â”†           â”†           â”†   â”† 4         â”† 5         â”†           â”†           â”‚
â”‚ 1349610 â”† 271.78403  â”† 271.78403 â”† 271.78403 â”† â€¦ â”† 2018-12-2 â”† 2014-06-2 â”† 1         â”† 1         â”‚
â”‚         â”†            â”†           â”†           â”†   â”† 2         â”† 3         â”†           â”†           â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

### Other Aggregation

In [9]:
df = train_other
# Date columns
date_cols = [ df.columns[i] for i in range(len(df.columns)) if (df.columns[i].__contains__('dat')) and (df.dtypes[i] == pl.String) ]

# Categorical columns
cat_cols = [ df.columns[i] for i in range(len(df.columns)) if (df.columns[i] not in date_cols) and (df.dtypes[i] == pl.String) ]

# Numerical columns
ignore_cols = ['case_id', 'num_group1', 'num_group2']
num_cols = [ 
    df.columns[i] for i in range(len(df.columns)) 
    if (df.columns[i] not in date_cols) and (df.columns[i] not in cat_cols) and (df.columns[i] not in ignore_cols)
]

# Group data
df_other_agg = group_file_data(df, num_cols, date_cols, cat_cols)

In [121]:
df_other_agg.head()

df_other_agg.write_parquet('../data/train_other_grouped.parquet')

shape: (5, 26)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ case_id â”† amtdebitin â”† amtdebito â”† amtdeposi â”† â€¦ â”† amtdebito â”† amtdeposi â”† amtdeposi â”† amtdeposi â”‚
â”‚ ---     â”† coming_480 â”† utgoing_4 â”† tbalance_ â”†   â”† utgoing_4 â”† tbalance_ â”† tincoming â”† toutgoing â”‚
â”‚ i64     â”† 9443A_min  â”† 809440A_m â”† 4809441A_ â”†   â”† 809440A_s â”† 4809441A_ â”† _4809444A â”† _4809442A â”‚
â”‚         â”† ---        â”† in        â”† min       â”†   â”† um        â”† sum       â”† _sum      â”† _sum      â”‚
â”‚         â”† f64        â”† ---       â”† ---       â”†   â”† ---       â”† ---       â”† ---       â”† ---       â”‚
â”‚         â”†            â”† f64       â”† f64       â”†   â”† f64       â”† f64       â”† f64       â”† f64       â”‚
â•žâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 196254  â”† 0.0        â”† 0.0       â”† 0.0       â”† â€¦ â”† 0.0       â”† 0.0       â”† 0.0       â”† 3.0       â”‚
â”‚ 199255  â”† 2714.4001  â”† 2502.6    â”† 0.0       â”† â€¦ â”† 2502.6    â”† 0.0       â”† 0.0       â”† 0.0       â”‚
â”‚ 1794488 â”† 0.0        â”† 0.0       â”† 47087.0   â”† â€¦ â”† 0.0       â”† 47087.0   â”† 0.0       â”† 386.0     â”‚
â”‚ 2678909 â”† 0.0        â”† 0.0       â”† 0.0       â”† â€¦ â”† 0.0       â”† 0.0       â”† 0.0       â”† 2.6000001 â”‚
â”‚ 2696713 â”† 0.0        â”† 0.0       â”† 0.0       â”† â€¦ â”† 0.0       â”† 0.0       â”† 0.0       â”† 431.0     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

### Person 1 Aggregation

According to the documentation: In case num_group1 or num_group2 stands for person index (this is clear with predictor definitions) the zero index has special meaning. When num_groupN=0 it is the applicant (the person who applied for a loan). We will filter on num_group1 = 0 so we do not aggregate multiple people info in the same case_id

In [10]:
# Here num_group1=0 has special meaning, it is the person who applied for the loan.
train_person_1_filtered = train_person_1.filter(
    pl.col("num_group1") == 0
).drop("num_group1")

In [11]:
df = train_person_1_filtered
# Date columns
date_cols = [ df.columns[i] for i in range(len(df.columns)) if (df.columns[i].__contains__('dat')) and (df.dtypes[i] == pl.String) ]

# Categorical columns
cat_cols = [ df.columns[i] for i in range(len(df.columns)) if (df.columns[i] not in date_cols) and (df.dtypes[i] == pl.String) ]

# Numerical columns
ignore_cols = ['case_id', 'num_group1', 'num_group2']
num_cols = [ 
    df.columns[i] for i in range(len(df.columns)) 
    if (df.columns[i] not in date_cols) and (df.columns[i] not in cat_cols) and (df.columns[i] not in ignore_cols)
]

# Group data
df_person_1_agg = group_file_data(df, num_cols, date_cols, cat_cols)

In [ ]:
df_person_1_agg.head()

df_person_1_agg.write_parquet('../data/train_person_1_grouped.parquet')

### Person 2 Aggregation

In [ ]:
# Here num_group1=0 has special meaning, it is the person who applied for the loan.
train_person_2_filtered = train_person_2.filter(
    pl.col("num_group1") == 0
).drop("num_group1")

In [6]:
df = train_person_2_filtered
# Date columns
date_cols = [ df.columns[i] for i in range(len(df.columns)) if (df.columns[i].__contains__('dat')) and (df.dtypes[i] == pl.String) ]

# Categorical columns
cat_cols = [ df.columns[i] for i in range(len(df.columns)) if (df.columns[i] not in date_cols) and (df.dtypes[i] == pl.String) ]

# Numerical columns
ignore_cols = ['case_id', 'num_group1', 'num_group2']
num_cols = [ 
    df.columns[i] for i in range(len(df.columns)) 
    if (df.columns[i] not in date_cols) and (df.columns[i] not in cat_cols) and (df.columns[i] not in ignore_cols)
]

# Group data
df_person_2_agg = group_file_data(df, num_cols, date_cols, cat_cols)

In [9]:
df_person_2_agg.head()

df_person_2_agg.write_parquet('../data/train_person_2_grouped.parquet')

## Joining all the tables with the baseline

In [ ]:
# Join all tables together.
data = train_basetable.join(
    df_debitcard_agg, how="left", on="case_id"
).join(
    df_deposit_agg, how="left", on="case_id"
).join(
    df_other_agg, how="left", on="case_id"
).join(
    df_person_1_agg, how="left", on="case_id"
).join(
    df_person_2_agg, how="left", on="case_id"
)